<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">

    <div class="col-md-6">
      <% if (user) { %>
        <% if (user.role == 1) { %>

      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Tambah jenis barang
      </button>
      <% } %>
      <% } %>

      <table class="table table-dark table-striped">
        <tr>
          <th>id</th>
          <th>jenis barang</th>
          <th>pilih</th>
          <th>action</th>
        </tr>
        <% for(let a of jenis){ %>
          <tr>
            <td>
              <%= a.id_JenisBarang %>
            </td>
            <td>
              <%= a.JenisBarang %>
            </td>
            <!-- karna id sebagai identitas db, maka yang akan terhapus akan sesuai dengan id yang terpilih -->
            <td>
              <a href="/pilih/<%= a.id_JenisBarang %>" class="badge bg-success">Pilih</a>
            </td>
            <td>
              <% if (user) {%>
                <% if (user.role == 1){ %>
              <a href="/hapusJenis/<%= a.id_JenisBarang %>" class="badge bg-danger"
                onclick="return confirm('Yakin ingin menghapus?')">Hapus</a>
                <% } %>
                <% } %>
              <button type="button" class="badge bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal1"
                onclick="editJenis('<%= a.id_JenisBarang%>','<%= a.JenisBarang %>')">
                Edit
              </button>
            </td>

          </tr>
          <% } %>
      </table>

      <!-- Modal tambah jenis -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Nama jenis barang</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/tambahJenis" method="post">
                <input type="text" name="JenisBarang" id="JenisBarang" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>


      <!-- Modal edit jenis -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Nama jenis barang</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/editJenis" method="post">
                Jenis Barang
                <input type="text" name="Jenis" id="Jenis" class="form-control">
                <input type="text" name="id_jenis" id="id_jenis" hidden>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <script src="/script.js">
      </script>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    </div>
  </div>
</body>

</html>